.input-slider {
    margin: 0 7px
}

.input-slider .ui-widget-header,
.input-slider.ui-widget-content {
    background: 0 0;
    border: none
}

.input-slider .ui-widget-header:after,
.input-slider.ui-widget-content:after {
    content: '';
    position: relative;
    top: 7px;
    margin: 0 -6px;
    display: block;
    height: 5px;
    background: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.input-slider.ui-slider-horizontal {
    height: 19px
}

.input-slider .ui-widget-header:after {
    background: #000
}

.input-slider.ui-slider .ui-slider-handle {
    background: 0 0;
    border: none;
    width: 19px;
    height: 19px;
    outline: 0;
    cursor: pointer
}

.input-slider.ui-slider .ui-slider-handle:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    margin: 3px;
    background: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.input-slider.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    margin-left: -9.5px
}

.input-slider__labels {
    zoom: 1;
    display: block;
    font-size: .9em
}

.input-slider__labels:after,
.input-slider__labels:before {
    content: "";
    display: table
}

.input-slider__labels:after {
    clear: both
}

.input-slider__label--min {
    float: left
}

.input-slider__label--max {
    float: right
}

.select-slider {
    display: none
}

.range-slider {
    display: none
}

.range-slider-select {
    display: none
}

.slider-control {
    margin: 0 7px 10px
}

.slider-control,
.slider-control * {
    color: inherit!important
}

.slider-control .ui-widget-header,
.slider-control.ui-widget-content {
    background: 0 0;
    border: none
}

.slider-control .ui-widget-header:after,
.slider-control.ui-widget-content:after {
    content: '';
    position: relative;
    top: 7px;
    margin: 0 -6px;
    display: block;
    height: 5px;
    background: #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.slider-control.ui-slider-horizontal {
    height: 19px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.slider-control .ui-widget-header:after {
    background: #000
}

.slider-control.ui-slider .ui-slider-handle {
    background: 0 0;
    border: none;
    width: 19px;
    height: 19px;
    outline: 0;
    cursor: pointer
}

.slider-control.ui-slider .ui-slider-handle:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    margin: 3px;
    background: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.slider-control.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    margin-left: -9.5px
}

.input,
.input-text,
.select,
.textarea,
select {
    display: block;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3.125em;
    width: 100%;
    margin: 0 0 10px;
    padding: 0 20px;
    background: #F5F6F8 no-repeat right center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1.3;
    color: #000
}

.background--dark,
.background--error,
.background--grey,
.background--grey-mid,
.background--overlay,
.background--success {
    color: #fff
}

.background--grey-light,
.background--grey-lightest,
.background--light {
    color: #000
}

.background--dark {
    background-color: #000!important
}

.background--grey {
    background-color: #333!important
}

.background--grey-mid {
    background-color: #777!important
}

.background--grey-light {
    background-color: #ddd!important
}

.background--grey-lightest {
    background-color: #F5F6F8!important
}

.background--light {
    background-color: #fff!important
}

.background--success {
    background-color: #00e05a!important
}

.background--error {
    background-color: #ff2d35!important
}

.background--overlay {
    background-color: rgba(0, 0, 0, .9)!important
}

.background--overlay-sheer {
    background-color: rgba(0, 0, 0, .5)!important
}

.copyright {
    background: #fff;
    font-size: 13px;
    letter-spacing: 0;
    color: #000;
    text-align: center;
    padding: 18px 0
}

.board-engine {
    display: none;
    background: #000;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: .05em;
    text-align: center;
    font-weight: 400;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased
}

.slider-control {
    margin: 0 3px
}

.slider-control .slider-control__dividers {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 17px;
    display: table;
    text-align: center;
    border-collapse: collapse
}

.slider-control .slider-control__dividers span {
    display: table-cell;
    border: 1px solid rgba(255, 255, 255, .25);
    border-width: 0 1px
}

.slider-control .ui-widget-header:after,
.slider-control.ui-widget-content:after {
    top: 11px;
    margin: 0 -3px;
    height: 1px;
    background: #fff;
    border: 3px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.slider-control.ui-slider-horizontal {
    height: 29px
}

.slider-control .ui-widget-header:after {
    background-color: #eac36f;
    background-image: -webkit-gradient(linear, top left, top right, color-stop(0, #f6a800), color-stop(50%, #ffd06d), color-stop(100%, #ddd));
    background-image: -webkit-linear-gradient(left, #f6a800 0, #ffd06d 50%, #ddd 100%);
    background-image: -moz-linear-gradient(left, #f6a800 0, #ffd06d 50%, #ddd 100%);
    background-image: -o-linear-gradient(left, #f6a800 0, #ffd06d 50%, #ddd 100%);
    background-image: -ms-linear-gradient(left, #f6a800 0, #ffd06d 50%, #ddd 100%);
    background-image: linear-gradient(to right, #f6a800 0, #ffd06d 50%, #ddd 100%);
    background-color: #fbbc37;
    background-image: -webkit-gradient(linear, top left, top right, from(#f6a800), to(#ffd06d));
    background-image: -webkit-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -moz-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -o-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -ms-linear-gradient(left, #f6a800, #ffd06d);
    background-image: linear-gradient(to right, #f6a800, #ffd06d)
}

.slider-control.ui-slider .ui-slider-handle {
    background: 0 0;
    border: none;
    width: 29px;
    height: 29px;
    outline: 0;
    cursor: pointer
}

.slider-control.ui-slider .ui-slider-handle:after {
    content: '\7c';
    font-family: icon-font;
    font-size: 2em;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    background: 0 0;
    color: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.slider-control.ui-slider-horizontal .ui-slider-handle {
    top: 0;
    margin-left: -14.5px
}

.validation-advice {
    position: absolute;
    opacity: 1!important;
    line-height: 20px;
    font-size: 9px;
    padding: 0;
    color: #fff;
    left: 0;
    right: 0;
    top: -10px;
}

.board-engine__advanced {
    display: none;
    background: #333
}

.board-engine__advanced .slider-control .ui-widget-header:after,
.board-engine__advanced .slider-control.ui-widget-content:after {
    border: 3px solid #333
}

.board-engine__advanced-btn .board-engine__advanced-btn__label--active {
    display: none
}

.board-engine--advanced-active .board-engine__advanced-btn {
    color: #f6a800
}

.board-engine--advanced-active .board-engine__advanced-btn .board-engine__advanced-btn__label--active {
    display: inline
}

.board-engine--advanced-active .board-engine__advanced-btn .board-engine__advanced-btn__label--default {
    display: none
}

.board-engine--advanced-active .board-engine__advanced-btn:hover {
    color: #ffd06d
}

.board-engine__advanced-btn:hover {
    color: #f6a800
}

.board-engine__heading {
    margin: 0 auto;
    line-height: 1;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase
}

.board-engine__heading__icon {
    display: block;
    background: #fff;
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 2.2em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.board-engine__heading__icon:hover {
    background-color: #f6a800
}

.board-engine__heading__label {
    display: block;
    margin: 0 0 5px;
    font-size: 2.23em
}

.board-engine__subheading {
    display: block;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 1.5em
}

.board-engine__controls {
    margin: 40px 0
}

.board-engine .board-engine__label {
    min-height: 30px;
}

.board-engine__label {
    display: block;
    margin: 10px 0;
    text-transform: uppercase
}

.board-engine__label small {
    font-size: 8px
}

.button.board-engine__button {
    display: block;
    margin: 0 auto;
    padding: .9em 1em .97em;
    width: 100%;
    max-width: 500px;
    -webkit-box-shadow: inset 0 0 0 2px;
    -moz-box-shadow: inset 0 0 0 2px;
    -o-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 1.154em;
    font-weight: inherit;
    letter-spacing: .1em;
    line-height: inherit;
    text-decoration: none!important;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease
}

.button.board-engine__button:hover {
    color: #fff
}

.button.board-engine__button.button--progress-complete:hover {
    color: #000;
    cursor: pointer
}

.button__label {
    font-family: inherit;
}

.button.board-engine__button.button--progress-complete .button__label {
    background: #000 -webkit-gradient(linear, 0 0, 100% 0, from(#222), color-stop(.5, #fff), to(#222)) 0 0 no-repeat !important;
    background-size: 125px 100% !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text!important;
    -moz-background-clip: text!important;
    background-clip: text!important;
    -webkit-animation: shimmer 2s infinite;
    -moz-animation: shimmer 2s infinite;
    -o-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite
}

.button__progress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fbbc37 !important;
    background-image: -webkit-gradient(linear, top left, top right, from(#f6a800), to(#ffd06d));
    background-image: -webkit-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -moz-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -o-linear-gradient(left, #f6a800, #ffd06d);
    background-image: -ms-linear-gradient(left, #f6a800, #ffd06d);
    background-image: linear-gradient(to right, #f6a800, #ffd06d) !important;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.button {
    z-index: 0;
    padding: 1.034em 1.3em;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: inherit;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: .938em 1.3em;
    background-color: #000;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.3;
    text-decoration: none!important;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

.button:hover, .form-button:hover, button:hover {
    background-color: transparent !important;
}

.poweredby .nocap {
    text-transform: none;
}

.poweredby .cavewire-logo {
    display: block;
    max-width: 120px;
}

.board-engine__loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, .95) url(../img/loader-board-engine.svg) no-repeat center center
}

.cavewire-logo {
    content:url("../img/logo.svg");
}

.shimmer {
    background: #000 -webkit-gradient(linear, 0 0, 100% 0, from(#222), color-stop(.5, #fff), to(#222)) 0 0 no-repeat;
    background-size: 125px 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text!important;
    -moz-background-clip: text!important;
    background-clip: text!important;
    -webkit-animation: shimmer 2s infinite;
    -moz-animation: shimmer 2s infinite;
    -o-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite
}

@-moz-keyframes shimmer {
    0% {
        background-position: -125px 0
    }
    100% {
        background-position: 350% 0
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -125px 0
    }
    100% {
        background-position: 350% 0
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: -125px 0
    }
    100% {
        background-position: 350% 0
    }
}

@keyframes shimmer {
    0% {
        background-position: -125px 0
    }
    100% {
        background-position: 350% 0
    }
}
